@import '../../../mixin.scss';

.header,
.dropdown__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-bottom: 30px;
  &__title {
    margin: 0 30px 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
}

.dropdown {
  @include reset(li);
  width: 100%;
  filter: drop-shadow(0px 10px 63px rgba(0, 0, 0, 0.07));
  &__select,
  &__option {
    text-align: left;
    @include block-size(370px, 55px);
    border: 0;
    padding: 0 15px;
    @include transitions((background-color, color));
    &:hover,
    &:focus,
    &:active {
      background-color: #b9b8b8 !important;
    }
  }
  &__select {
    & svg {
      @include block-size(14px, 7px);
      margin-left: 15px;
      @include transition(transform, rotateX(0));
    }
    &-active svg {
      transform: rotateX(180deg);
    }
  }
  &__item {
    width: inherit;
    border-top: 1px solid;
  }
}
