@import '../../../../mixin.scss';

.container {
  display: grid;
  grid-template-columns: 296px 1fr;
  grid-template-rows: 260px 179px;
  gap: 32px;
  padding-bottom: 32px;
}

.box__pomodoro,
.pomodoro__count {
  display: flex;
  align-items: center;
}

.box__pomodoro-active,
.box__schedule {
  flex-direction: column;
  justify-content: space-between;
}

.box {
  @include transition(background-color);
  &__data {
    grid-column: 1;
    padding: 25px;
  }
  &__pomodoro {
    justify-content: center;
    grid-column: 1;
  }
  &__schedule {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.schedule {
  width: 100%;
  height: 100%;
  &__container {
    overflow: hidden;
    display: flex;
    height: 420px;
  }
  &__list {
    &-days,
    &-times {
      @include reset(li);
      display: flex;
    }
    &-times {
      flex-direction: column;
      min-width: 109px;
      padding: 68px 0 0 32px;
    }
    &-days {
      align-items: center;
      padding: 11px 80px;
      @include transition(background-color);
    }
  }
  &__item {
    &-times {
      &:not(:last-child) {
        margin-bottom: 51px;
      }
    }
    &-days {
      &:not(:last-child) {
        margin-right: 80px;
      }
    }
  }
  &__btn {
    @include reset(btn);
    font-size: 24px;
    line-height: 29px;
    @include transition(color);
    &:hover,
    &:focus,
    &:active {
      color: #dc3e22 !important;
    }
    &-active {
      color: #dc3e22 !important;
    }
  }
  &__desc-times {
    font-size: 12px;
    line-height: 33px;
  }
}

.data {
  &__title {
    margin: 0 0 14px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
  }
  &__desc {
    margin: 0;
    line-height: 28px;
    &-alert {
      font-weight: 700;
      color: #dc3e22;
    }
  }
}

.pomodoro {
  &__count,
  &__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
  }
  &__count {
    height: 100%;
    color: #999999;
    & svg {
      @include block-size(81px, 81px);
      margin-right: 15px;
    }
  }
  &__text {
    text-align: center;
    width: 100%;
    padding: 9px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #fff;
    background-color: #dc3e22;
  }
}
