@import './mixins/block-size';
@import './mixins/reset';
@import './mixins/animation';

@mixin visibility($action) {
  @include animation(
    (
      opacity: if($action == visible, 0, 1),
    ),
    (
      opacity: if($action == hidden, 0, 1),
    )
  );
}

@mixin visible-translate-Y($value-Y) {
  @include animation(
    (
      opacity: 0,
      transform: translateY($value-Y),
    ),
    (
      opacity: 1,
      transform: translateY(0),
    )
  );
}

@mixin modal-X($action, $offset: 100px) {
  @include animation(
    (
      opacity: if($action == visible, 0, 1),
      transform: if($action == visible, translateX($offset), translateX(0)),
    ),
    (
      opacity: if($action == hidden, 0, 1),
      transform: if($action == hidden, translateX($offset), translateX(0)),
    )
  );
}

@mixin modal($action) {
  @include animation(
    (
      opacity: if($action == open, 0, 1),
      transform: if($action == open, scale(0), scale(1)),
    ),
    (
      opacity: if($action == close, 0, 1),
      transform: if($action == close, scale(0), scale(1)),
    )
  );
}
